APPLICATION_NAME=AdvisorLEARN
APPLICATION_SHORT_NAME=AL
APPLICATION_VERSION=0.1-alpha1
APPLICATION_DOMAIN=al.local.triophase.com
APPLICATION_SUPPORT_EMAIL=support@domain.com
APPLICATION_TIME_ZONE=Asia/Kolkata
APPLICATION_NOTIFICATION_LIST=user1@domain.com,user2@domain.com

DEBUG_MODE=1
DEVELOPMENT_MODE=1

DEFAULT_SMTP_HOST=email-smtp.us-east-1.amazonaws.com
DEFAULT_SMTP_USERNAME=XXXXXXXXXXXXXXXXXXXXXXXXXXXX
DEFAULT_SMTP_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXXXXXX
DEFAULT_SMTP_EMAIL_FROM=system@domain.com

MYSQL_ROOT_PASSWORD=CwmHFTMqS6TXqupE4DF9NqUXkj7juh8A6wSk
REGISTRATION_SALT=061b77f2-212b-449d-bfe1-858d334dd0ce-7f3558e9-5187-4a8e-9926-898ed22102ca
